#jsEventsContainer {
    opacity: 1;
    @include transition(all .5s ease-in-out);

    &.fade-out {
        opacity: 0;
    }
}

#jsEventsForm,
#jsArticlesForm,
#jsEventsHomeForm {

    >label {
        display: none;
    }

    >label[for="id_event_categories_filter_0"] {
        display: block;
        text-align: center;
        font-weight: bold;
        font-family: $serif-condensed;
        text-transform: uppercase;
        margin-bottom: 15px;
        pointer-events: none;
    }

    #id_event_day_filter {

        label {
            cursor: pointer;
            display: block;
        }

        input {
            display: none;
        }

        list-style-type: none;
        padding: 0;
        margin: 0;

        color: $color-black;
        text-align: center;
        @include margin(0 0 2 0);

        font-weight: weight(light);
        font-family: $serif;
        font-size: 16px;

        @include mq($until: md) {
            display: none;
        }

        >li {

            &:first-child,
            &:last-child {
                width: 5%;
                text-transform: uppercase;
                font-family: $serif;
                font-size: 18px;
                font-weight: weight(heavy);

                &:hover:not(.disabled) {
                    color: black;
                }
            }

            &:last-child {
                display: none;
            }

            &.disabled {
                color: lightgrey;

                label {
                    cursor: default;
                }

                span {
                    color: lightgrey;
                }
            }

            &.active {
                color: $color-main;
                font-weight: bold;
                
                background: #E5EEF4;
                color: $color-main;
                border-radius: 3px;

                span {
                    font-weight: 300;
                    opacity: 1;
                }
            }

            &:hover:not(.disabled) {
                color: $color-main;
            }

            display: inline-block;
            width: 2.9%;

            span {
                font-size: 14px;
                opacity: 1;
                display: block;

                &.calendar__weekend {
                    opacity: 1;
                }
            }

        }

    }

    #id_article_type_filter {
        text-align: center;
    }

    #id_event_locations_filter {
        display: none;
    }

    #id_event_categories_filter,
    #id_event_locations_filter,
    #id_article_type_filter {

        padding: 0px 90px;

        @include mq($until: lg) {
            padding: 0px 74px;
        }

        @include mq($until: md) {
            padding: 0px 0px;
        }

        @include mq($until: sm) {
            padding: 0px 0px;
        }

        input {
            display: none;
        }

        list-style-type: none;
        margin: 0;
        text-align: center;

        >li {
            display: inline-block;
            margin: 0 8px 8px 0;
            border: 1px solid $color-black;
            border-radius: 3px;
            font-weight: 500;
            opacity: 1;
            cursor: pointer;
            font-family: 'Oswald', sans-serif;
            font-weight: weight(regular);

            @include transition(all 0.25s ease);

            &.vertigo {
                &:hover:not(.disabled) {
                    background: $color-vertigo;
                    border-color: $color-vertigo;
                }

                &.active {
                    background: $color-vertigo;
                    border-color: $color-vertigo;
                }
            }

            &:hover:not(.disabled) {
                background: $color-main;
                color: white;
                border-color: $color-main;

                label, a {
                    color: white;
                }
            }

            &.disabled {
                opacity: 0.2;
                cursor: default;

                label {
                    cursor: default;
                }
            }

            &.active {
                opacity: 1;
                background: $color-main;
                color: white;
                border: 1px solid $color-main;

                label, a {
                    color: white;
                }
            }

            label, a {

                color: black;
                padding: 3px 10px;
                text-transform: uppercase;
                text-decoration: none;
                border: 0;
                @include font-size(m);
                cursor: pointer;
                @include transition(all 0.25s ease 0s);

            }
        }

    }

}
