{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags i18n organization_tags staticfiles %}

{% block meta_title %}{{ playlist.title }}{% endblock %}

{% block meta_keywords %}
    {% metablock %}
        {% keywords_for person as keywords %}
        {% for keyword in keywords %}
            {% if not forloop.first %}, {% endif %}
            {{ keyword }}
        {% endfor %}
    {% endmetablock %}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="c-breadcrumbs__item">
        <a class="c-breadcrumbs__link" href="{% url 'organization-playlist-list' %}">{% trans "Media" %}</a>
    </li>
    <li class="c-breadcrumbs__item">{{ playlist.title }}</li>
{% endblock %}

{% block page_title %}
    <div class="c-heading u-mbs">
        <h1 class="c-heading__title">
            {% editable playlist.title %}
                {{ playlist.title }}
            {% endeditable %}
        </h1>
    </div>
{% endblock %}

{% block page_sidebar %}
    <div class="c-metas">
        <ul class="c-metas__items">
            <li class="c-metas__item">
                <svg class="c-metas__icon" width="24" height="24" aria-label="{% trans 'Publish date' %}">
                    <use xlink:href="{% static 'umr-stms/img/symbols.svg' %}#symbol-calendar"/>
                </svg>
                <span class="c-metas__label">
                    {% editable playlist.publish_date %}
                        {{ playlist.publish_date|date:"DATE_FORMAT" }}
                    {% endeditable %}
                </span>
            </li>
        </ul>
    </div>

    {% with playlist as object %}
        {% include "includes/share_buttons.html" %}
    {% endwith %}
{% endblock %}

{% block page_content %}

    {% if playlist.description %}
        {% editable playlist.description %}
            <div class="c-content u-mbs">
                {{ playlist.description }}
            </div>
        {% endeditable %}
    {% endif %}

    {% with playlist.type as type %}
        <!-- media/playlist/includes/audio.html -->
        <!-- media/playlist/includes/video.html -->
        {% with "media/playlist/includes/"|add:type|add:".html" as template %}
            {% include template %}
        {% endwith %}
    {% endwith %}

    {# NOTE: ? #}
    {{ playlist.content|safe }}
{% endblock %}
