{% load i18n  mezzanine_tags event_tags   organization_tags %}
{% if not is_archive %}
        {% if event.trainings.all|length %}
            {% with event.links.all as links %}
                {% if links %}
                    <p>
                        <a href="{{ links|get_type_link:'link'|first }}" class="c-informations__button c-button c-button--secondary">
                            {% trans "Reserve" %}
                        </a>
                    </p>
                {% endif %}
            {% endwith %}
        {% elif event.links.all|get_type_link:'vel' %}
            <p>
                <a href="{{ event.links.all|get_type_link:'vel'|first }}" target="_blank" rel="noopener" class="c-informations__button c-button c-button--secondary">
                    {% trans "Reserve" %}
                </a>
            </p>
        {% else %}
            <p>
                <span class="c-informations__button c-button c-button--secondary c-button--large">
                    {% trans "Free" %}
                </span>
            </p>
        {% endif %}
{% endif %}
