{% extends "core/inc/generic_card.html" %}
{% load mezzanine_tags keyword_tags i18n organization_tags staticfiles %}

{% block title %}
    {{ playlist.title|truncatechars_html:50 }}
{% endblock %}

{% block url %}
    {% url 'organization-playlist-detail' playlist.slug %}
{% endblock %}

{% block image %}
    {% if playlist.medias.all.0.media.poster_url %}
        <img src="{{ playlist.medias.all.0.media.poster_url }}" alt="" class="c-article__picture"/>
    {% else %}
        {# TODO: image par défaut ? #}
    {% endif %}
{% endblock %}

{% block icon %}
    <svg class="c-article__icon" width="80" height="80" aria-hidden="true">
        <use xlink:href="{% static 'img/symbols.svg' %}#symbol-audio"/>
    </svg>
{% endblock %}

{% block tags %}
    <ul class="c-article__categories">
        <li class="c-article__category">{{ playlist.type|title }}</li>
    </ul>
{% endblock %}
