{% extends "pages/page.html" %}
{% load i18n mezzanine_tags keyword_tags pages_tags organization_tags %}

{% block body_class %}page{% endblock %}

{% block meta_title %}{% trans "Infos" %}{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ organization.description }}
    {% endmetablock %}
{% endblock %}

{% block page_class %}
    organization
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{% trans "Infos" %}</li>
{% endblock %}

{% block page_title %}
    <h1 class="section-title section-title--big section-title--uppercase section-title--main invisible">{% trans "Informations" %}</h1>
{% endblock %}

{% block page_content %}

<!-- PASS MANIFESTE -->
<div class="row">
    <div class="col-md-8">
        <div class="page__block-special page__block-special--yellow">
            <div>
                <h2 class="fcm" style="text-align: center;">{% trans 'MANIFESTE PASS' %}</h2>
                <p style="text-align: center;">{% blocktrans %}Take advantage of special ticket prices by subscribing for a ManiFeste Pass, available with an initial purchase of at least three performances of your choice.{% endblocktrans %}</p>
                <p style="text-align: center;"></p>
                <h5 style="text-align: center;">{% blocktrans %}After your initial purchase, all additional tickets are available for the discount prices.{% endblocktrans %}</h5>
                <p style="text-align: center;">
                    <a class="button button--xsmall button--white-main" href="/informations/achat-pass/">{% trans 'ORDER' %}</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="page__block-special page__block-special--yellow">
            <div>
                <h2 class="fcm" style="text-align: center;">{% trans 'YOUTH PASS' %}</h2>
                <p style="text-align: center;">{% blocktrans %}For those under 26 years old take advantage of special ticket prices with Youth Pass available with an initial purchase of at least two performances of your choice.{% endblocktrans %}</p>
                <h5 style="text-align: center;">{% blocktrans %}After your initial purchase, all additional tickets are available for the prices indicated for the Youth Pass.{% endblocktrans %}</h5>
                <p style="text-align: center;">
                    <a class="button button--xsmall button--white-main" href="/informations/achat-pass/">{% trans 'ORDER' %}</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="page__block-special">
            <div>
                <p>
                    <strong>{% trans 'Telephone' %}</strong>
                    <br />
                    <strong></strong>01 44 78 12 40</p>
                <p>
                    <strong>{% trans 'Online' %}</strong>
                    <br />{% blocktrans %}Click on RESERVATION at the bottom of each performance description on this website to purchase tickets online or by mail at{% endblocktrans %}
                    <a href="mailto:billetterie@ircam.fr" target="_blank">billetterie(@)ircam.fr</a>.
                    <br />{% blocktrans %}All reservations must be confirmed by payment by credit card or cheque within 48 hours.{% endblocktrans %}</p>
                <p>
                    <strong>{% trans 'Correspondance' %}</strong>
                    <br />{% trans 'Send your' %}
                    <a href=" /media/uploads/documents/formulaire_resa18.pdf" target="_blank">{% trans 'reservation form' %}</a> {% blocktrans %}(pdf in French) and payment (credit card or cheque made out to IRCAM) and a photocopy of proof required for discounted tickets to:{% endblocktrans %}
                    <br />Ircam - Billetterie
                    <br />1, place Igor-Stravinsky - 75004 Paris</p>
                <p></p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="page__block-special">
            <div>
                <p>
                    <strong>{% trans 'At IRCAM' %}</strong>
                    <br />1, place Igor-Stravinsky - 75004 ParIs
                    <br />{% blocktrans %}Monday through Friday, 11am-7pm{% endblocktrans %}</p>
                <p>
                    <strong>{% blocktrans %}On site prior to each concert or performance{% endblocktrans %}</strong>
                    <br />{% blocktrans %}45 minutes before the concert, limited seats available.{% endblocktrans %}</p>
                <p>{% blocktrans %}Tickets are non-exchangeable and non-refundable. All tickets will be sent by post until two
                    weeks before the date of the first performance selected. Beyond this date, tickets must be picked up
                    at the venue’s box office 30 minutes before each performance.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</div>


<div class="editable-original">
    <p>
        <strong>{% trans 'Ticket prices' %}</strong>
        <br>{% blocktrans %}Ticket prices (full price, discount price, ManiFeste &amp; Youth Pass, Discovery Pack) are indicated
        on each performances description on this website.{% endblocktrans %}</p>
        <p>{% blocktrans %}Discount Prices: Students, youth under 26 years old, job seekers, and recipients of the “RSA”, intermittent performance workers, Centre Pompidou Laissez-Passer cardholders, groups of 10 people or more, members of the IRCAM Forum, French Ministry of Culture cardholders, PASS 104, members of the Philharmonie de Paris, members of la Villette, members of MC93, members of the Nouveau Théâtre de Montreuil, members of the T2G. Note: Justification is required, reduced price tickets must be collected at the performance venue 30 minutes before show time.{% endblocktrans %}
        <br>{% blocktrans %}Students: 50% of your ticket price is reimbursed by the Crous (Crous, billetterie spectacles - 12, rue de l'Abbaye - 75006 Paris - 01 40 51 37 12 or at{% endblocktrans %}
        <a href="mailto:billetterie@crous-paris.fr">billetterie(@)crous-paris.fr</a>)</p>
</div>

{% endblock %}

{% block page_slider %}

<div class="section" style="position: relative;">
    <div class="map" id="network-map">
    </div>
</div>
<div class="container hide">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-push-1">
            <div class="slider-network">
                <ul class="slider-network__slider" data-slider-network>
                    {% for organization in organizations %}

                    <li class="slider-network__slide" data-marker-url="{{ organization.url }}" data-marker-color="blue" {% with organization.images.all|get_type:'card' as images %}{% if images %}data-marker-image="{{ MEDIA_URL }}{{ images.first.file }}" {% endif %}{% endwith %} data-marker-idx="{{ forloop.counter0 }}" data-marker-lat="{{ organization.lat }}" data-marker-lng="{{ organization.lon }}">
                        <div class="slider-network__slide-image" {% with organization.images.all|get_type:'card' as images %} {% if images %} style="background-image: url('{{ MEDIA_URL }}{{images.first.file}}');"
                            {% endif %} {% endwith %}>
                        </div>
                        <div class="slider-network__slide-title" data-marker-title>
                            {{ organization.name }}
                        </div>
                        <div class="slider-network__slide-subtitle" data-marker-subtitle>
                            {{ organization.address }}, {{ organization.postal_code }} {{ organization.city }}
                        </div>

                        <div class="slider-network__slide-description" data-marker-description>

                            {% if organization.url or organization.telephone %}
                            <p>
                                {% if organization.url %}
                                <a href="{{ organization.url }}" target="_blank">
                                    {{ organization.url }}
                                </a>
                                <br /> {% endif %} {% if organization.telephone %} {{ organization.telephone }} {% endif %}
                            </p>
                            {% endif %} {% if organization.subway_access %}
                            <p>
                                {{ organization.subway_access }}
                            </p>
                            {% endif %}

                            <p>
                                {% with event_location=organization.event_locations.first.event_location %}
                                <a href="{% url 'event_list' %}?event_locations_filter[]={{ event_location.title|urlencode }}" class="button button--xsmall button--main">
                                    {% trans "LINKED EVENTS" %}
                                </a>
                                {% endwith %}
                            </p>
                        </div>

                    </li>

                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
