{% extends "2019/base.html" %}
{% load i18n pages_tags mezzanine_tags organization_tags %}

{% block meta_title %}
    {% trans "Home" %}
{% endblock %}

{% spaceless %}
    {% block body_class %}
        home
    {% endblock %}
{% endspaceless %}

{% block main %}
    
    <form action="{% url 'event_list' %}" method="GET">    
        {% include "includes/calendar.html" with date_field=event_calendar_form.event_day_filter %}
    </form>

    {% include "home/inc/slider.html" %}

    {% include "home/inc/body.html" %}

    {% include "home/inc/bio.html" %}

{% endblock %}


{% block social %}
    {% include "includes/social_full.html" %}
{% endblock %}
