{% extends "pages/page.html" %}
{% load i18n  mezzanine_tags event_tags keyword_tags disqus_tags organization_tags staticfiles pages_tags %}

{% block meta_title %}
    {% if page %}
        {{ page.title }}
    {% else %}
        {% trans "Artists" %}
    {% endif %}
{% endblock %}

{% block meta_keywords %}
    {% metablock %}
        {% keywords_for page as keywords %}
        {% for keyword in keywords %}
            {% if not forloop.first %}, {% endif %}
            {{ keyword }}
        {% endfor %}
    {% endmetablock %}
{% endblock %}

{% block meta_description %}
    {% metablock %}
        {{ page.description }}
    {% endmetablock %}
{% endblock %}

{% block page_title %}
    {% trans "Artists" %}
{% endblock %}

{% block main %}
    <header class="c-hero">
        <svg class="c-hero__mask" width="160" height="320" aria-label="ManiFeste 2021">
            <use xlink:href="{% static 'img/symbols.svg' %}#symbol-manifeste-2021"/>
        </svg>
        <img src="{% static 'img/home.jpg' %}" srcset="{% static 'img/home@2x.jpg' %} 2x" alt="" loading="lazy" class="c-hero__picture"/>
        <div class="c-hero__container c-container">
            <h1 class="c-hero__title">{% trans 'Artists' %}</h1>
        </div>
    </header>

    <section class="c-container u-mtxs u-mt-l@medium">
        <div class="c-gallery">
            <ul class="c-gallery__items">
                {% for person in persons %}
                    {% if not person.user.is_staff %}
                        <li class="c-gallery__item">
                            {% include "network/person/includes/person_card.html" with object=person %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
