{% load i18n pages_tags mezzanine_tags media_tags organization_tags %}

{% for content in content_list %}
    {% with app_label=content.content_object|app_label_short classname=content.content_object|classname|lower object=content.content_object  %}
        {% with app_label|add:"/"|add:classname|add:"/includes/"|add:classname|add:"_card.html" as template %}
        {% if template|template_exists %}
            {% include template %}
        {% else %}
            {% include 'core/inc/generic_card.html' %}
        {% endif %}
        {% endwith %}
    {% endwith %}
{% endfor %}