{% load i18n pages_tags mezzanine_tags media_tags organization_tags %}

<article class="c-article {% spaceless %}{% block classes %}{% endblock %}{% endspaceless %}">
    <div class="c-article__header">
        {% block image %}
            {% with object.images.all|get_type:'card' as images %}
                {% if images %}
                    <figure class="article-box__image">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-original="{{ MEDIA_URL }}{% thumbnail images.0.file 427 286 top=0.5 left=object.photo_alignment|get_photo_alignment %}" class="lazyload" />
                    </figure>
                {% else %}
                    <figure class="article-box__image">
                        {% if object.department %}
                            <div class="article-box__placeholder {{object.department.name|slugify}}"></div>
                        {% else %}
                            <div class="article-box__placeholder"></div>
                        {% endif %}
                    </figure>
                {% endif %}
            {% endwith %}
        {% endblock %}
        {% block icon %}{% endblock %}
    </div>
    <div class="c-article__content">
        {% block dates %}{% endblock %}
        <h3 class="c-article__title">
            <a href="{% spaceless %}{% block url %}
                {% if object.content|removetags:'p'|slice:':4' == 'http' %}
                    {{ object.content|removetags:'p' }}
                {% else %}
                    {{ object.get_absolute_url }}
                {% endif %}
            {% endblock %}{% endspaceless %}"
            {% spaceless %}{% block target %}
                {% if object.content|removetags:"p"|slice:':4' == 'http' %}target="_blank"{% endif %}
            {% endblock %}{% endspaceless %}
            class="c-article__link"
            title="{% block metatitle %}{{ object.title }}{% endblock %}">
            {% block title %}
                {{ object.title }}
            {% endblock %}
            </a>
        </h3>
        {% block subtitle %}
            {{ object.sub_title }}
        {% endblock %}
        {% block content %}
            {{ object.description|richtext_filters|safe|truncatechars_html:200 }}
        {% endblock %}
        {% block tags %}{% endblock %}
        {% block btn %}{% endblock %}
    </div>
</article>



