{% load mezzanine_tags %}

<div class="c-slideshow js-slideshow u-mbl">
    {% for image in slider_images %}
        <figure class="c-slideshow__slide js-slideshow-slide">
            <img src="{{ MEDIA_URL}}{% thumbnail image.file 944 536 %}" alt="" class="c-slideshow__picture"/>
            <figcaption class="c-slideshow__caption">
                <b>{{ image.title }}</b>
                {% if image.description %}
                    <br/>{{ image.description|safe }}
                {% endif %}
                {% if image.credits %}
                    <br/>{{ image.credits }}
                {% endif %}
            </figcaption>
        </figure>
    {% endfor %}
</div>
