{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags i18n organization_tags pages_tags %}

{% block meta_title %}{{ person.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for person as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block page_class %}
    person
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    <li class="breadcrumb__item active">{{ person }}</li>
{% endblock %}

{% block page_title %}

    <!-- imgage -->
    {% with person.images.all|get_type:'page_featured' as images_featured %}
        {% if images_featured %}
            <img style="width:100%;" class="lazyload" src="{{ MEDIA_URL }}{% thumbnail images_featured.first 1030 400 top=0.5 %}" alt="person"/>
        {% endif %}
    {% endwith %}

     <!-- Nom Prénom -->    
    {% editable person.title %}
        <h1 class="section-title section-title--big section-title--uppercase section-title--main">{{ person.title }}</h1>
    {% endeditable %}

    <!-- Activité de la personne (champ 'état') -->
    {% with person.activities.first as activity %}
        {% if activity.status %}
            {{ activity.status }}
        {% endif %}
    {% endwith %}

{% endblock %}

{% block page_content %}

    <!-- biography -->
    {% editable person.bio %}
        {{ person.bio|richtext_filters|safe }}
    {% endeditable %}
    
{% endblock %}

{% block page_related_content %}
    <!-- Related content -->
    {% with dynamic_content=person.dynamic_content_person.all|filter_content object=person %}
        {% include "core/inc/related_content.html" %}
    {% endwith %}
{% endblock %}

{% block page_link %}
    <!-- Liens -->
    {% with person.links.all as links %}
        {% if links %}
            {% include 'core/inc/link.html' %}
        {% endif %}
    {% endwith %}
{% endblock %}
