{% load i18n %}

<div class="c-home__edito">
    <h1 class="c-home__title">
        {# TODO @emilie: url edito #}
        <a href="#" class="c-home__link">{% trans 'Manifeste 2019' %}</a>
    </h1>
    <div class="c-home__text">
        {% if host_organization.bio %}
            {{ host_organization.bio|safe }}
        {% else %}
            <p>Donner corps, chœur et cris au tumulte du présent : la clameur du monde retentit sur ManiFeste-2019. Quelle communauté en scène face à l’assemblée muette et agissante des spectateurs ?  Lab.Oratorium de Philippe Manoury, Eror de Georgia Spiropoulos naissent d’une Europe en miettes, d’une cité disloquée et de l’errance de l’individu.</p>
        {% endif %}
    </div>
    {# TODO @emilie: url edito #}
    <a href="#" class="c-home__more c-button c-button--alt">{% trans 'Read the edito' %}</a>
</div>
