{% load i18n pages_tags mezzanine_tags media_tags organization_tags %}
<div class="container section">
    <div class="row">
        <div class="col-md-14 col-md-push-1 col-lg-12 col-lg-push-2 tac">
            <div class="section-title section-title--uppercase section-title--underline section-title--main">
                à la une
            </div>
            <div class="container">
                <div class="row-12">
                    {% include 'core/inc/cards.html' with concrete_objects=home.dynamiccontenthomebody_set.all|get_content_objects %}
                </div>
            </div>
        </div>
    </div>
</div>
