<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
{% load i18n pages_tags mezzanine_tags staticfiles keyword_tags event_tags organization_tags %}
{% get_language_info_list for LANGUAGES as languages %}
<head>
    <meta charset="utf-8" />
    <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, 'js');</script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% spaceless %}{% block meta_title %}{% endblock %}{% endspaceless %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static "css/index.min.css" %}">
    <link rel="stylesheet" href="{% static 'css/vendors.min.css' %}" />
    {% endcompress %}

    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}" class="{% block body_class %}{% endblock %}">
    {% spaceless %}
    <div class="c-wrapper">

    {% block header %}
        {% include 'includes/header.html' %}
    {% endblock %}

    {% block container %}
        <main class="c-main">
            {% block content_header %}{% endblock %}
            {% block main %}{% endblock %}
            {% block content_footer %}{% endblock %}
        </main>

        {% block social %}
            {% include "includes/social_light.html" %}
        {% endblock %}

        {% block footer %}
            {% include "includes/footer.html" %}
        {% endblock %}
    {% endblock %}

    {% block footer_scripts %}
        {% include "includes/footer_scripts.html" %}
    {% endblock %}

    {% block footer_scripts_local %}
    {% endblock %}

    {% endspaceless %}
</body>
</html>
