{% extends "core/inc/search_card.html" %}
{% load i18n mezzanine_tags organization_tags %}

{% block title %}
    {{ person.title }}
{% endblock %}

{% block icon %}user-o{% endblock %}

{% block tags %}
    <div class="search-box__tags">
        {% with person.activities.first as activity %}
            {% if activity.status %}
                {{ activity.status }}
            {% else %}
                {% trans "Artist" %}
            {% endif %}
        {% endwith%}
    </div>
{% endblock %}

{% block url %}
    {{ page.get_absolute_url }}
{% endblock %}

{% block content %}
    {% if person.description != person|stringformat:"s" %}
        {{ person.description|truncatewords_html:200|safe }}
    {% endif %}
{% endblock %}
