<table class="c-filter__calendar">
    <thead>
        <tr>
            <th><abbr title="Lundi">Lu</abbr></th>
            <th><abbr title="Mardi">Ma</abbr></th>
            <th><abbr title="Mercredi">Me</abbr></th>
            <th><abbr title="Jeudi">Je</abbr></th>
            <th><abbr title="Vendredi">Ve</abbr></th>
            <th><abbr title="Samedi">Sa</abbr></th>
            <th><abbr title="Dimanche">Di</abbr></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <label class="c-filter__toggle">
                    <input type="radio" name="day" value="2019-06-1" class="c-filter__input js-filter-input js-filter-date"/>
                    <span class="c-filter__label">1</span>
                </label>
            </td>
            <td>
                <label class="c-filter__toggle">
                    <input type="radio" name="day" value="2019-06-2" class="c-filter__input js-filter-input js-filter-date"/>
                    <span class="c-filter__label">2</span>
                </label>
            </td>
        </tr>
        {% set days = [
            { 3: true, 4: false, 5: false, 6: true, 7: true, 8: true, 9: true },
            { 10: true, 11: true, 12: true, 13: true, 14: true, 15: true, 16: false },
            { 17: true, 18: true, 19: true, 20: true, 21: true, 22: true, 23: false },
            { 24: false, 25: true, 26: true, 27: false, 28: true, 29: true, 30: false }
        ] %}
        {% for week in days %}
            <tr>
                {% for i, status in week %}
                    <td>
                        <label class="c-filter__toggle">
                            <input type="radio" name="day" value="2019-06-{{ i }}" class="c-filter__input js-filter-input js-filter-date"{% if not status %} disabled{% endif %}/>
                            <span class="c-filter__label">{{ i }}</span>
                        </label>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
