// COLORS

$color-black:       #000000;
$color-lightgrey:   #F1F1F1;
$color-white:       #ffffff;
$color-green:       #29CC6A;
$color-red:         #ED0E4C;
$color-orange:      #F5A623;
$color-blue:        #A0CFF3;

$color-primary:    $color-red;
$color-secondary:  $color-blue;
$color-foreground: $color-black;
$color-background: $color-white;

$color-info:       $color-blue;
$color-success:    $color-green;
$color-warning:    $color-orange;
$color-error:      $color-red;


// FONTS

$font-serif:      "Merryweather", serif;
$font-sans-serif: "Oswald", sans-serif;
$font-code:       monospace;

$font-default:   $font-serif;
$font-primary:   $font-sans-serif;
$font-secondary: $font-serif;


// DIMENSIONS
$width-container: 1136px;
$width-gutter: 16px;
$width-content: 960px;
$height-header: 64px;

// Z-INDEXES

$z-header:  50;
$z-cookies: 40;
$z-main:    30;
$z-social:  20;
$z-footer:  10;


// BREAKPOINTS

$mq-breakpoints: (
  small:  720px,  // Portrait
  medium: 960px, // Landscape
  large:  1200px  // Widescreen
);


// ASSETS
$asset-type-path: (
  "image": "img/",
  "font": "fonts/"
);


// CUSTOM SETTINGS

$spacing-responsive: false;   // Generate `.u-(m|p)(t|b)(n|xs|s|m|l|xl)@(small|medium|large)` responsive utilities
