@mixin spacing($sizes, $suffix: false) {
  @each $p, $property in (m: margin, p: padding) {
    @each $d, $direction in (t: top, b: bottom) {
      @each $s, $size in $sizes {
        .u-#{$p}#{$d}#{$s}#{if($suffix, \@#{$suffix}, null)} {
          #{$property}-#{$direction}: rem($size) !important;
        }
      }
    }
  }
}

@include spacing((
  s: 16px,
  m: 24px,
  l: 40px
));

@include mq($from: medium) {
  @include spacing((
    s: 24px,
    m: 40px,
    l: 80px
  ));
}

@if $spacing-responsive {
  $spacing: (
    n:  0px,
    xs: 8px,
    s:  16px,
    m:  24px,
    l:  40px,
    xl: 80px
  );

  // Mobile
  @include mq($until: medium) {
    @include spacing($spacing, small);
  }

  // Tablet
  @include mq($from: medium, $until: large) {
    @include spacing($spacing, medium);
  }

  // Desktop
  @include mq($from: large) {
    @include spacing($spacing, large);
  }
}
