.c-button {
  appearance: none;
  background: $color-black none;
  border: 0;
  border-radius: 0;
  box-shadow: 0 rem(1px 2px) 0 rgba($color-black, .2);
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  display: inline-flex;
  @include font-size(16px, 24px);
  font-family: $font-primary;
  align-items: center;
  justify-content: center;
  padding: rem(3px 8px 5px);
  margin: 0;
  position: relative;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  transition: background-color 400ms, color 400ms;
  min-height: rem(32px);
  min-width: rem(64px);

  &:not(:disabled):hover {
    background-color: $color-primary;
    color: $color-white;
  }
}

.c-button--primary {
  background-color: $color-primary;
  color: $color-white;

  &:not(:disabled):hover {
    background-color: $color-black;
  }
}

.c-button--secondary {
  background: $color-white;
  color: $color-primary;
}

  .c-button__icon,
  .c-button__label {
    display: inline-block;
    vertical-align: top;
  }

  .c-button__icon {
    flex: 0 0 auto;
    @include size(16px);
    margin: rem(4px) 0;

    & + .c-button__label,
    .c-button__label + & {
      margin-left: rem(8px);
    }
  }

.c-button--large {
  min-height: rem(56px);
  padding: rem(11px 16px 13px);
}
