.c-gallery {

}

  .c-gallery__items {
    @include clearfix;
    display: flex;
    flex-wrap: wrap;
    margin: 0 rem(-8px -16px);
  }

    .c-gallery__item {
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 rem(8px 16px);
      width: 100%;
    }

@include mq($from: small) {
  .c-gallery__item {
    width: 50%;
  }

  .c-gallery--filter .c-gallery__item:nth-child(2) {
    order: -1;
  }
}

@include mq($from: small, $until: medium) {
  .c-gallery__item:nth-child(3n+1) {
    clear: left;
  }
}

@include mq($from: medium) {
  .c-gallery:not(.c-gallery--halves) {
    .c-gallery__item {
      width: (100% / 3);

      &:nth-child(4n+1) {
        clear: left;
      }
    }

    &.c-gallery--filter .c-gallery__item:nth-child(3) {
      order: -1;
    }
  }
}
