.c-heading {

}

  .c-heading__title {
    @include font-size(32px, 40px);
    padding-bottom: rem(8px);
    position: relative;

    &::after {
      border-bottom: 1px solid;
      content: "";
      display: block;
      width: rem(80px);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
