{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags i18n organization_tags staticfiles %}

{% block meta_title %}{{ media.title }}{% endblock %}

{% block meta_keywords %}
    {% metablock %}
        {% keywords_for person as keywords %}
        {% for keyword in keywords %}
            {% if not forloop.first %}, {% endif %}
            {{ keyword }}
        {% endfor %}
    {% endmetablock %}
{% endblock %}

{% block page_title %}
    {% editable media.title %}
        <h1 class="c-detail__title">
            {{ media.title }}
        </h1>
    {% endeditable %}
{% endblock %}

{% block page_tags %}
    <ul class="c-detail__categories">
        {# <li class="c-tags__tag">{% trans 'Media' %}</li> #}
        {# {% if department_name %}
            <li class="c-tags__tag">{{ department_name }}</li>
        {% endif %} #}
        <li class="c-detail__category">{{ media.publish_date|date:"DATE_FORMAT" }}</li>
    </ul>
{% endblock %}

{% block page_content %}
    {% if media.description %}
        <div class="c-content u-mbm">
            <p>{{ media.description }}</p>
        </div>
    {% endif %}

    {% with media.type as type %}
        {% with "media/media/includes/"|add:type|add:".html" as template %}
            {% include template %}
        {% endwith %}
    {% endwith %}
{% endblock %}
