{% load i18n pages_tags mezzanine_tags staticfiles keyword_tags event_tags organization_tags %}

<aside class="c-social">
    <div class="c-social__network c-social__network--twitter">
        <h2 class="c-social__title">
            <a href="https://twitter.com/hashtag/ManiFeste19" target="_blank" rel="noopener" class="c-social__link">{% trans 'Twitter feed' %} <b>#Manifeste19</b></a>
        </h2>
        {% include 'twitter/tweets.html' %}
        <a href="https://twitter.com/hashtag/ManiFeste19" target="_blank" rel="noopener" class="c-social__more c-button">{% trans 'See more' %}</a>
    </div>
    <div class="c-social__network c-social__network--instagram">
        <h2 class="c-social__title">
            <a href="https://www.instagram.com/explore/tags/ircam/" target="_blank" rel="noopener" class="c-social__link">{% trans 'Instagram feed' %} <b>#IRCAM</b></a>
        </h2>
        {% include 'includes/instagram.html' %}
        <a href="https://www.instagram.com/explore/tags/ircam/" target="_blank" rel="noopener" class="c-social__more c-button">{% trans 'See more' %}</a>
    </div>
</aside>
