{% extends "pages/page.html" %}
{% load mezzanine_tags keyword_tags i18n organization_tags staticfiles %}

{% block meta_title %}{{ playlist.title }}{% endblock %}

{% block meta_keywords %}
    {% metablock %}
        {% keywords_for person as keywords %}
        {% for keyword in keywords %}
            {% if not forloop.first %}, {% endif %}
            {{ keyword }}
        {% endfor %}
    {% endmetablock %}
{% endblock %}

{% block page_title %}
    {% editable playlist.title %}
        {{ playlist.title }}
    {% endeditable %}
{% endblock %}

{% block page_tags %}
    <ul class="c-hero__tags">
        <li class="c-hero__tag c-button c-button--rounded">
            <svg class="c-button__icon" width="16" height="16" aria-hidden="true" focusable="false">
                <use xlink:href="{% static 'img/symbols.svg' %}#symbol-{{ playlist.type }}"/>
            </svg>
            <span class="c-button__label">{{ playlist.type|title }}</span>
        </li>
    </ul>
{% endblock %}

{% block page_content %}
    {% comment %}
    {% if playlist.description %}
        <div class="c-content u-mbm">
            {% editable playlist.description %}
                {{ playlist.description }}
            {% endeditable %}
        </div>
    {% endif %}
    {% endcomment %}

    {% with playlist.type as type %}
        {% with "media/playlist/includes/"|add:type|add:".html" as template %}
            {% include template %}
        {% endwith %}
    {% endwith %}

{% endblock %}

{% block page_related_content %}
    {% include "core/inc/related_content_dynamic.html" with object=playlist %}
{% endblock %}
