{% extends "core/inc/search_card.html" %}
{% load i18n mezzanine_tags organization_tags %}

{% block title %}
    {{ result.title }}
{% endblock %}

{% block icon %}file-o{% endblock %}

{% block tags %}
    <div class="search-box__tags">
        {% if result.categories.all %}
            {% for category in result.categories.all %}
                {% comment %}{% if forloop.first %} | {% endif %}{% endcomment %}
                {% if not forloop.first %}, {% endif %}
                {{ category }}
            {% endfor %}
        {% else %}
            {% trans 'Article' %}
        {% endif %}
    </div>
{% endblock %}

{% block url %}
    {{ page.get_absolute_url }}
{% endblock %}

{% block content %}
    {% if result.description != result|stringformat:"s" %}
        {{ result.description|truncatewords_html:200|safe }}
    {% endif %}
{% endblock %}
