{% load event_tags pages_tags mezzanine_tags organization_tags i18n  %}
{% with event.periods.all as periods %}
    <!-- Start date only  -->
    {% if event.start and not event.end %}
        {{ event.start|date:"DATE_EVENT_FORMAT_Y" }}
        <!-- Start date with hour  -->
        {% if event.start and event.start|date:"H:i" != "23:59" %}
        {% endif %}
    <!-- Start and end date  -->
    {% else %}
        <!-- Start and end date is the same day  -->
        {% if event.start|date:"d.m.y" == event.end|date:"d.m.y" %}
            {% if not periods %}
                {{ event.start|date:"DATE_EVENT_FORMAT_Y" }}
            {% else %}
                {{ event.start|date:"DATE_EVENT_FORMAT_Y" }}
                {% for period in periods %}
                {% endfor %}
            {% endif %}
        <!-- Start and end date are the same month  -->
        {% elif event.start|date:"m.y" == event.end|date:"m.y" %}
            {{ event.start|date:"WEEK_DAY_FORMAT" }}
            {% if event.end|subtract:event.start|get_attr:"days" > 1 %}
                {% trans "through" %}
            {% else %}
                {% trans "and" %}
            {% endif %}
            {{ event.end|date:"DATE_EVENT_FORMAT_Y" }}
        <!-- Start and end date are completely different  -->
        {% else %}
            {{ event.start|date:"DATE_EVENT_FORMAT" }} {% trans "through" %} {{ event.end|date:"DATE_EVENT_FORMAT_Y" }}
            <!-- Start date with hour  -->
        {% endif %}

    {% endif %}
{% endwith %}
