@mixin container {
  margin-left: auto;
  margin-right: auto;
  padding-left: rem($width-gutter);
  padding-right: rem($width-gutter);
  width: 100%;
  max-width: rem($width-container-small + $width-gutter * 2);

  @include mq($from: small) {
    max-width: rem($width-container-medium + $width-gutter * 2);
  }

  @include mq($from: medium) {
    max-width: rem($width-container-large + $width-gutter * 2);
  }
}
