{% load i18n  mezzanine_tags event_tags   organization_tags %}
{% if not is_archive %}
    {% if event.links.all|get_type_link:'vel' %}
        {% with event.links.all as links %}
            {% if links %}
                <a href="{{ links|get_type_link:'vel'|first }}" target="_blank" class="c-article__button c-button c-button--secondary">
                    {% trans "Reserve" %}
                </a>
            {% endif %}
        {% endwith %}
    {% elif event.prices.all %}
        <p>
            {% for price in event.prices.all %}
                {% if price.value == 0 %}
                    <span class="c-article__button c-button c-button--secondary">
                        {% trans "Free" %}
                    </span>
                {% endif %} {% if not forloop.last %}<br/>{% endif %}
            {% endfor %}
        </p>
    {% endif %}
    {% if event.links.all|get_type_link:'youtube' %}
        {% with event.links.all as links %}
            {% if links %}
                {% with links|get_type_link:'youtube'|first as link %}
                    <p>
                        <a href="{{ link.url }}" target="_blank" class="btn c-article__button c-button c-button--youtube">
                            {{ link.title }} &nbsp; <i class="fab fa-youtube"></i>
                        </a>
                    </p>
                {% endwith %}
            {% endif %}
        {% endwith %}
    {% endif %}
{% endif %}
