{% load mezzanine_tags %}

<div class="c-media js-media u-mbl" data-media-type="audio">
    <ol class="c-media__items">
        {% for media in object.medias.all %}
            {% with media.media as media %}
                {% for transcoded in media.transcoded.all %}
                    {% if transcoded.mime_type == "audio/mp4" or transcoded.mime_type == "audio/mp3" %}
                        <li class="c-media__item js-media-item" data-media-src="{{ transcoded.url }}">{{ media.title }}{% if media.description %} <small>{{ media.description|safe }}</small>{% endif %}</li>
                    {% endif %}
                {% endfor %}
            {% endwith %}
        {% endfor %}
    </ol>
</div>
